<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Lista de Consultas</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container">
        <h2>Lista de Consultas</h2>
        <a href="{% url 'consulta_create' %}" class="btn btn-success">Nueva Consulta</a>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Correo Electrónico</th>
                    <th>Mensaje</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for consulta in consultas %}
                <tr>
                    <td>{{ consulta.email }}</td>
                    <td>{{ consulta.message }}</td>
                    <td>
                        <a href="{% url 'consulta_update' consulta.pk %}" class="btn btn-primary">Editar</a>
                        <a href="{% url 'consulta_delete' consulta.pk %}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
