<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Grand Hotel' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Tienda de Peluches</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'img/welcome_t_index.png' %}" alt="Plush" width="100" height="45"></a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="{% url 'index' %}">Inicio</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Productos <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'peluches' %}">Peluches</a></li>
                <li><a href="{% url 'almohadas' %}">Almohadas</a></li>
                <li><a href="{% url 'donaciones' %}">Donaciones</a></li>
              </ul>
            </li>
            <li><a href="{% url 'pago' %}">Pagar</a></li>
            <li><a href="{% url 'sobre_nosotros' %}">Sobre nosotros</a></li>
            <li class="active"><a href="{% url 'consultas' %}">Consultas</a></li>
          </ul>
        </div>
      </nav>

    <section id="contact" class="container">
        <h2>Consultas</h2>
        <form method="post" class="form-horizontal">
            {% csrf_token %}
            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">Correo Electrónico:</label>
                <div class="col-sm-10">
                    {{ form.email }}
                </div>
            </div>
            <div class="form-group">
                <label for="message" class="col-sm-2 control-label">Mensaje:</label>
                <div class="col-sm-10">
                    {{ form.message }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </div>
        </form>
        {% if form.errors %}
            <div class="alert alert-danger">
                <ul>
                    {% for field, errors in form.errors.items %}
                        <li>{{ field }}: {{ errors }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </section>

    <script src="{% static 'script.js' %}"></script>
</body>
</html>
